/build

# Eclipse project files
.classpath
.project

# Windows thumbnail db
.DS_Store

# IDEA/Android Studio project files, because
# the project can be imported from settings.gradle
.idea
*.iml

# Old-style IDEA project files
*.ipr
*.iws

# Local IDEA workspace
.idea/workspace.xml

# Gradle cache
.gradle
