<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="goodthingmap.android.prada.lab.goodthingmap" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GoodListActivity"
            android:label="@string/title_activity_good_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FavorActivity"
            android:label="@string/title_activity_fravor"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait" >
        </activity>

        <provider
            android:name=".FavorContentProvider"
            android:authorities="lab.prada.android.goodthingmap.favor"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <activity
            android:name=".ImageViewerActivity"
            android:label="@string/title_activity_image_viewer"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Using Facebook Login or Share -->
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/title_activity_facebook_login" />

        <!-- Sharing links, images or video on Facebook -->
        <provider android:authorities="com.facebook.app.FacebookContentProvider149672028575255"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
    </application>

</manifest>
